.aboutc {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.para {
  font-size: 18px;
  color: #3c4258;
  text-transform: initial;
  line-height: 1.8;
  font-weight: bold;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.detail {
  font-size: 16px;
  color: #999fb3;
  padding: 20px 0 43px;
  border-bottom: 1px solid #999fb3;
  animation: slideInLeft 2s ease-in-out forwards;
}

h3 {
  color: #636a82;
  font-size: 16px;
  text-transform: capitalize;
}

.photo {
  background-image: url("../Images/shubham.jpeg");
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: pulse 3s infinite;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .photo {
    width: 300px;
    height: 300px;
  }

  .para {
    font-size: 16px;
  }

  .detail {
    font-size: 14px;
  }

  .single-about-add-info h3 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .photo {
    width: 200px;
    height: 200px;
  }
  .about{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 20px;
    flex-direction: column-reverse;
  }

  .para {
    font-size: 14px;
    margin-top: 30px;
    width: 70vw;
  }

  .detail {
    font-size: 12px;
    width: 70vw;
    width: 70vw;
  }

  .single-about-add-info h3 {
    font-size: 12px;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
