.contact {
    padding: 0px 0;
  }
  
  .contact-title {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #d92cf9;
    margin: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    border-radius: 8px;
    border: 1px solid #007bff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .contact-btn {
    display: flex;
    padding: 10px 20px;
    font-size: 1rem;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .contact-btn:hover {
    background-color: #0056b3;
  }
  
  .contact-name {
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    color: #007bff;
  }
  
  .contact-role {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #555;
  }
  
  .contact-info-title {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    color: #007bff;
  }
  
  .contact-info-detail {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
  }
  
  .contact-info-detail a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info-detail a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    font-size: 30px;
    color: darkblue;
  }
  
  .social-icons a {
    color: darkblue;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  