.skill-section {
    margin-top: 10px; /* Adjust this value as needed */
  }
  
  .skills {
    padding: 20px 0;
  }
  
  .skill-content {
    padding: 0 15px;
  }
  
  .single-skill-content {
    margin-bottom: 30px;
  }
  
  .barWrapper {
    margin-bottom: 15px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #d92cf9;
  }
  
  @media only screen and (max-width: 768px) {
    .skill-section {
      margin-top: 1px; /* Increased top margin for mobile devices */
    }
  
    .barWrapper {
      margin-bottom: 20px;
    }
  
    .progress-bar {
      height: 15px;
    }
  
    h3 {
      font-size: 18px;
    }
  }
  
  #skills{
    padding: 0;
  }